<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr />
        <ul class="list-group">
            <a
                *ngFor = "let ingredient of (shoppingList | async).ingredients let i = index"
                class="list-group-item"
                style="cursor: pointer; margin-bottom: 5px;"
                (click)="onEditIngredient(i)">
                {{ ingredient.name }} ({{ ingredient.amount }} {{ ingredient.units }})
            </a>
        </ul>
    </div>
</div>
