.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.login-box {
    position: fixed;
    top: 25vh;
    left: 20vw;
    width: 60vw;
    padding: 16px;
    z-index: 20;
}

.spinner-box {
    position: fixed;
    top: 25vh;
    left: 20vw;
    width: 50vw;
    text-align: center;
    z-index: 100;
}