<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <label>Server name</label>

            <!-- One way data binding -->

            <!--
            <input
                type="text"
                class="form-control"
                (input) = "onServerNameChanged($event)" />

            <p>serverName = <span [innerText] = "serverName"></span></p> 
            -->

            <!-- Two way data binding -->

            <input
                type="text"
                class="form-control"
                [(ngModel)] = "serverName" />

            <br />

            <!-- Property and event binding -->

            <button
                class="btn btn-primary"
                [disabled] = "!allowNewServer"
                (click) = "onAddServer()"
                >Add Server</button>

            <hr />

            <h3>My many servers</h3>

            <p *ngIf = "serverAdded; else nothingAddedYet">
                <app-server *ngFor = "let server of servers"></app-server>
            </p>

            <ng-template #nothingAddedYet>
                <p>Nothing added yet!</p>
            </ng-template>

        </div>
    </div>
</div>
